*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Amiko", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.countgroup__number, .countgroup__text {
  margin-top: 0;
  margin-bottom: 0; }

.title {
  width: 74.2rem;
  height: 7rem;
  font-size: 6.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.08;
  letter-spacing: 0.1px;
  color: #000000;
  margin-top: 0;
  display: inline-block; }

.subtitle {
  width: 59.5rem;
  height: 5.8rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
  display: inline-block; }

.countgroup__number {
  width: 6.9rem;
  height: 7rem;
  font-size: 5.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 0.1px;
  color: #000;
  display: inline-block;
  text-align: center; }

.countgroup__text {
  width: 13.8rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.31;
  letter-spacing: -0.2px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.lettercontainer__title {
  width: 27.7rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #000;
  display: inline-block; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.container {
  display: grid;
  grid-template-columns: [lside-start] 250px [lside-end] repeat(12, [col-start] 1fr [col-end]) [rside-start] 250px [rside-end];
  grid-template-rows: 200px 2fr 1fr 200px;
  justify-items: center;
  align-items: center; }

.header {
  grid-column: col-start 1 / col-end 12;
  margin: 0; }

.main {
  grid-column: col-start 1 / col-end 12;
  text-align: center; }

.lettercontainer {
  grid-column: col-start 1 / col-end 12;
  text-align: center; }

.countbox {
  grid-column: col-start 2 / col-end 11;
  display: flex;
  justify-content: space-around; }

.countgroup {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header__logo {
  width: 11.8rem;
  height: 13.922rem; }

.buttonbox {
  width: 46rem;
  height: 4.7rem;
  border-radius: 2.35rem;
  border: solid 1px #5cd8ea;
  display: flex;
  justify-content: flex-end; }
  .buttonbox__submit {
    width: 15.2rem;
    height: 4.7rem;
    border-radius: 2.35rem;
    background-color: #5cd8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    transition: all .2s; }
    .buttonbox__submit:hover {
      width: 17rem;
      background-color: #4fb7c6; }
  .buttonbox__text {
    width: 4.9rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0px;
    color: #fff; }

.form__group {
  display: flex;
  justify-content: flex-end;
  position: relative; }

.form__input {
  width: 46rem;
  height: 4.7rem;
  border-radius: 2.35rem;
  border: solid 1px #5cd8ea;
  padding: 2rem; }
  .form__input::placeholder {
    font-size: 1.5rem;
    color: #bfbfbf; }

.form__submit {
  position: absolute;
  width: 15.2rem;
  height: 4.7rem;
  border-radius: 2.35rem;
  background-color: #5cd8ea;
  cursor: pointer;
  transition: all .2s;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #fff;
  border: none; }
  .form__submit:hover {
    width: 17rem;
    background-color: #4fb7c6; }
