//Colour 

$color-primary: #5cd8ea;
$color-primary-dark:#4fb7c6;

$color-warning: #ff815b;

$color-light-grey: #bfbfbf;
$color-black: #000;
$color-white: #fff;

//Font 
$font-primary: 'Amiko', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem 10px
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}