.container {
    display: grid;
    grid-template-columns: [lside-start] 250px [lside-end] repeat(12, [col-start] 1fr [col-end]) [rside-start] 250px [rside-end];
    grid-template-rows: 200px 100px 100px 120px 470px 150px;
    justify-items: center;
    align-items: center;

    @include responsive(tabport) {
      grid-template-columns:repeat(4, [col-start] 1fr [col-end]);
    }

    @include responsive(phone) {
     grid-template-columns: [col-start] 1fr [col-end];
     grid-template-rows: 120px 100px 50px 125px 300px 130px;
    }

    @include responsive(tabportheight) {
      position: absolute;
      top:25%;
      transform: translate(0,-25%);
    }
  }

  .header {
    grid-column: col-start 1 / col-end 12;
    margin: 0;
    @include responsive(phone) {
      grid-column: col-start 1 / -1;
     }
    
  }

  .main {
    grid-column: col-start 1 / col-end 12;
    text-align: center;
    @include responsive(phone) {
      grid-column: col-start 1 / -1;
     }
    
  }

  .subtitlebox{
    grid-column: col-start 1 / col-end 12;
    text-align: center;
   
    @include responsive(phone) {
      grid-column: col-start 1 / -1;
     }
  }
  
  .lettercontainer{
    grid-column: col-start 1 / col-end 12;
    text-align: center;
    @include responsive(phone) {
      grid-column: col-start 1 / -1;
     }
    
  }
  .countbox {
    grid-column: col-start 2 / col-end 11;
    display: flex;
    justify-content: space-around;

    @include responsive(tabport) {
      grid-column: col-start 1 / -1;
  }

    @include responsive(phone) {
      grid-column: col-start 1 / -1;
     }

   
    
  }
  .countgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .socialcontainer {
    grid-column:  col-start 1 / col-end 12;
    display:flex;
    div:not(:last-child) {
      margin-right: 3rem;
    }
  }