.header {
    &__logo {
        width: 11.8rem;
        height: 13.922rem;
        @include responsive(phone) {
            width: 8rem;
            height: 10rem;
          }
    }
    
}
 

// soial icon

.socialcontainer { 
        &__icon {
            width:2rem;
            height: 2rem;
            &:hover {
                fill:$color-primary;
                transition: all .2s;
            }
        }
    
}
