%margin{
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    width: 74.2rem;
    height: 7rem;
    font-size: 6.5rem;
    @include fontstyle;
    line-height: 1.08;
    letter-spacing: 0.1px;
    color: #000000;
    margin-top: 0;
    display: inline-block;
    @extend %margin;
    @include responsive(phone) {
      width: 100%;
      font-size: 3.5rem;
    }
  }
  
  .subtitlebox__text {
    width: 59.5rem;
    height: 5.8rem;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0px;
    text-align: center;
    color: $color-black;
    display: inline-block;

    @include responsive(phone) {
      width: 85%;
      
    }
  }
  

  .countgroup{
    &:not(:last-child) {
      @include responsive(phone) {
        margin-right: 3 rem;    
      }
    }
    

    
    &__number{
      width: 6.9rem;
      height: 7rem;
      font-size: 5.5rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: $color-black;
      display: inline-block; 
      @extend %margin;
      text-align: center;
      @include responsive(phone) {
        font-size: 3.5rem;  
        line-height: 2.5;  
      }
    }
    &__text {
      width: 13.8rem;
      height: 3rem;
      font-size: 1.3rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.31;
      letter-spacing: -0.2px;
      text-align: center;
      color: $color-black;
      text-transform: uppercase;
      @extend %margin;
      @include responsive(phone) {
        width: 6rem;
      }
    }
  }
  

.lettercontainer{

    &__title{
  width: 27.7rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: $color-black;
  display: inline-block; 
}
  }
